#SnakeCanvas {
position: absolute;
top: 50%;
left: 50%;
margin-left: -150px; 
margin-top: -170px;
}

#up {
position: absolute;
left: 50%;
top: 50%;
margin-top: -220px;
margin-left: -25px;
}

#down {
position: absolute;
left:50%;
bottom: 50%;
margin-bottom: -220px;
margin-left: -25px;
}

#left {
position: absolute;
left: 50%;
top: 50%;
margin-left: -210px;
margin-top: -25px;
}

#right {
position: absolute;
top: 50%;
right: 50%;
margin-right: -210px;
margin-top: -25px;
}